<?xml version="1.0"?>
<launch>
    <!-- sem xacro-->
    <!-- param name="robot_description" textfile="$(find mobile_robot)/urdf/rover.urdf"/-->

    <!-- com xacro-->
    <!-- param name="robot_description" command="xacro '$(find mobile_robot)/urdf/rover.urdf.xacro'" /-->
    <param name="robot_description" command="xacro '$(find mobile_robot)/urdf/rover_with_meshes.urdf.xacro'" />

    <arg name="rviz_config_file" default="$(find mobile_robot)/config/robot.rviz" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" / -->
    
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config_file)"/>
</launch>